PORT=8000
MONGODB_URI=mongodb+srv://manishanawalakhe:manisha1998@cluster0.i1tklqe.mongodb.net
CORS.ORIGIN=*
ACCESS_TOKEN_SECRET=backend-program
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=full-series
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=akoalcity
CLOUDINARY_API_KEY=618541963577297
CLOUDINARY_API_SECRET=WzlrqhW4eF4U5qCRHVWFo6QWTsQ